{% extends 'base.html.twig' %}

{% block title %}Recette index{% endblock %}

{% block body %}
    <h1>Recette index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Categorie</th>
                <th>Etapes</th>
                <th>Temps_cuis</th>
                <th>Temps_prep</th>
                <th>Ingredients</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recette in recettes %}
            <tr>
                <td>{{ recette.id }}</td>
                <td>{{ recette.titre }}</td>
                <td>{{ recette.description }}</td>
                <td>{{ recette.categorie }}</td>
                <td>{{ recette.etapes }}</td>
                <td>{{ recette.tempsCuis }}</td>
                <td>{{ recette.tempsPrep }}</td>
                <td>{{ recette.ingredients }}</td>
                <td>
                    <a href="{{ path('app_recette_show', {'id': recette.id}) }}">show</a>
                    <a href="{{ path('app_recette_edit', {'id': recette.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_recette_new') }}">Create new</a>
{% endblock %}
