{% extends 'base.html.twig' %}

{% block title %}Recette{% endblock %}

{% block body %}
    <h1>Recette</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recette.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ recette.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ recette.description }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ recette.categorie }}</td>
            </tr>
            <tr>
                <th>Etapes</th>
                <td>{{ recette.etapes }}</td>
            </tr>
            <tr>
                <th>Temps_cuis</th>
                <td>{{ recette.tempsCuis }}</td>
            </tr>
            <tr>
                <th>Temps_prep</th>
                <td>{{ recette.tempsPrep }}</td>
            </tr>
            <tr>
                <th>Ingredients</th>
                <td>{{ recette.ingredients }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_recette_index') }}">back to list</a>

    <a href="{{ path('app_recette_edit', {'id': recette.id}) }}">edit</a>

    {{ include('recette/_delete_form.html.twig') }}
{% endblock %}
